extends default
block content
    script
        include ../public/js/index.js
    div.container
        div.row
            div.aw-content-wrap.clearfix
                div.col-sm-12.col-md-9.aw-main-content
                    <!-- tab切换 -->
                    ul.nav.nav-tabs.aw-nav-tabs.active(id="tab_nav")
                        if opts.topic == '历史'
                            li.active
                                a(href="javascript:void('')")
                                    |历史
                        else
                            li
                                a(href="javascript:void('')")
                                    | 历史
                        if opts.topic == '趣闻'
                            li.active
                                a(href="javascript:void('')")
                                    | 趣闻
                        else
                            li
                                a(href="javascript:void('')")
                                    | 趣闻
                        if opts.topic == '杂文'
                            li.active
                                a(href="javascript:void('')")
                                    | 杂文
                        else
                            li
                                a(href="javascript:void('')")
                                    | 杂文
                        if opts.topic == '故事'
                            li.active
                                a(href="javascript:void('')")
                                    | 故事
                        else
                            li
                                a(href="javascript:void('')")
                                    | 故事
                        if opts.topic == '段子'
                            li.active
                                a(href="javascript:void('')")
                                    | 段子
                        else
                            li
                                a(href="javascript:void('')")
                                    | 段子
                        if opts.topic == '诗歌'
                            li.active
                                a(href="javascript:void('')")
                                    | 诗歌
                        else
                            li
                                a(href="javascript:void('')")
                                    | 诗歌
                        if opts.topic == '美文'
                            li.active
                                a(href="javascript:void('')")
                                    | 美文
                        else
                            li
                                a(href="javascript:void('')")
                                    | 美文
                        if opts.topic == '热门'
                            li.active
                                a(href="javascript:void('')")
                                    | 热门
                        else
                            li
                                a(href="javascript:void('')")
                                    | 热门
                        if opts.topic == '推荐'
                            li.active
                                a(href="javascript:void('')")
                                    | 推荐
                        else
                            li
                                a(href="javascript:void('')")
                                    | 推荐
                        h2.hidden-xs
                            i.icon.icon-list
                            | 频道
                    <!-- end tab切换 -->
                    div.aw-mod.aw-explore-list
                        div.mod-body
                            div.aw-common-list
                                each article in articles
                                    div.aw-item
                                        div.aw-question-content
                                            h4
                                                a(href="/articles/#{article.id}")
                                                    | #{article.title}
                                            p
                                                span.text-color-999
                                                    | #{article.site} • #{article.readCount} 次浏览 • #{moment(article.createAt).utc().zone(-8).format('MM-DD HH:MM')}
                            div.mod-footer
                                div.page-control
                                    ul.pagination.pull-right
                                        if opts.page == 1
                                            li.disabled
                                                a
                                                    |上一页
                                        else
                                            li
                                                a
                                                    |上一页
                                        li
                                            a
                                                | 第
                                                span(id="curpage")
                                                    |#{opts.page}
                                                |页
                                        li
                                            a
                                                | 下一页
                <!-- 侧边栏 -->
                div.col-sm-12.col-md-3.aw-side-bar.hidden-xs.hidden-sm
                    <div class="aw-mod">
                    <div class="mod-head">
                    <h3>专题</h3>
                    </div>
                    <div class="mod-body">
                    <ul>
                    <li><a href="http://wenda.golaravel.com/feature/1">Composer中国镜像</a></li>
                    </ul>
                    </div>
                    </div>
                    <div class="aw-mod aw-text-align-justify">
                    <div class="mod-head">
                    <a href="http://wenda.golaravel.com/topic/channel-hot" class="pull-right">更多 &gt;</a>
                    <h3>热门话题</h3>
                    </div>
                    <div class="mod-body">
                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/topic/laravel5.2"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
                    </dt>
                    <dd class="pull-left">
                    <p class="clearfix">
                    <span class="topic-tag">
                    <a href="http://wenda.golaravel.com/topic/laravel5.2" class="text" data-id="1091">laravel5.2</a>
                    </span>
                    </p>
                    <p><b>15</b> 个问题, <b>1</b> 人关注</p>
                    </dd>
                    </dl>
                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/topic/队列"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
                    </dt>
                    <dd class="pull-left">
                    <p class="clearfix">
                    <span class="topic-tag">
                    <a href="http://wenda.golaravel.com/topic/队列" class="text" data-id="273">队列</a>
                    </span>
                    </p>
                    <p><b>10</b> 个问题, <b>1</b> 人关注</p>
                    </dd>
                    </dl>
                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/topic/Homestead"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
                    </dt>
                    <dd class="pull-left">
                    <p class="clearfix">
                    <span class="topic-tag">
                    <a href="http://wenda.golaravel.com/topic/Homestead" class="text" data-id="66">Homestead</a>
                    </span>
                    </p>
                    <p><b>20</b> 个问题, <b>3</b> 人关注</p>
                    </dd>
                    </dl>
                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/topic/数据库关联"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
                    </dt>
                    <dd class="pull-left">
                    <p class="clearfix">
                    <span class="topic-tag">
                    <a href="http://wenda.golaravel.com/topic/数据库关联" class="text" data-id="360">数据库关联</a>
                    </span>
                    </p>
                    <p><b>2</b> 个问题, <b>1</b> 人关注</p>
                    </dd>
                    </dl>
                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/topic/并发"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
                    </dt>
                    <dd class="pull-left">
                    <p class="clearfix">
                    <span class="topic-tag">
                    <a href="http://wenda.golaravel.com/topic/并发" class="text" data-id="1132">并发</a>
                    </span>
                    </p>
                    <p><b>1</b> 个问题, <b>1</b> 人关注</p>
                    </dd>
                    </dl>
                    </div>
                    </div>
                    <div class="aw-mod aw-text-align-justify">
                    <div class="mod-head">
                    <a href="http://wenda.golaravel.com/people/" class="pull-right">更多 &gt;</a>
                    <h3>热门用户</h3>
                    </div>
                    <div class="mod-body">

                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/people/%E8%B5%B7%E5%9B%A0%E5%B0%8F%E5%BC%BA"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/03/05_avatar_mid.jpg"></a>
                    </dt>
                    <dd class="pull-left">
                    <a href="http://wenda.golaravel.com/people/%E8%B5%B7%E5%9B%A0%E5%B0%8F%E5%BC%BA" data-id="305" class="aw-user-name">起因小强						</a>
                    <p class="signature"></p>
                    <p><b>4</b> 个问题, <b>1</b> 次赞同</p>
                    </dd>
                    </dl>

                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/people/%E8%B5%B5%E7%8B%97%E8%83%9C"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/08/86_avatar_mid.jpg"></a>
                    </dt>
                    <dd class="pull-left">
                    <a href="http://wenda.golaravel.com/people/%E8%B5%B5%E7%8B%97%E8%83%9C" data-id="886" class="aw-user-name">赵狗胜						</a>
                    <p class="signature"></p>
                    <p><b>16</b> 个问题, <b>2</b> 次赞同</p>
                    </dd>
                    </dl>

                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/people/bantes"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/01/76_avatar_mid.jpg"></a>
                    </dt>
                    <dd class="pull-left">
                    <a href="http://wenda.golaravel.com/people/bantes" data-id="176" class="aw-user-name">萧晔离<i class="icon-v" title="个人认证"></i>						</a>
                    <p class="signature"></p>
                    <p><b>20</b> 个问题, <b>14</b> 次赞同</p>
                    </dd>
                    </dl>

                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/people/%E9%A3%8E"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/34/28_avatar_mid.jpg"></a>
                    </dt>
                    <dd class="pull-left">
                    <a href="http://wenda.golaravel.com/people/%E9%A3%8E" data-id="3428" class="aw-user-name">风						</a>
                    <p class="signature"></p>
                    <p><b>0</b> 个问题, <b>0</b> 次赞同#{data}</p>
                    </dd>
                    </dl>

                    <dl>
                    <dt class="pull-left aw-border-radius-5">
                    <a href="http://wenda.golaravel.com/people/Hubery"><img alt="" src="http://wenda.golaravel.com/static/common/avatar-mid-img.png"></a>
                    </dt>
                    <dd class="pull-left">
                    <a href="http://wenda.golaravel.com/people/Hubery" data-id="3732" class="aw-user-name">Hubery						</a>
                    <p class="signature"></p>
                    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
                    </dd>
                    </dl>
                    </div>
                    </div>				</div>
                <!-- end 侧边栏 -->